{{ attach_library('hd_theme/paragraph--404-banner') }}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {{ content.field_image }}
    <div class='content-wrapper'>
        <h1>
            {{ content.field_main_title.0 }}
        </h1>
        {{ content.field_block_desc_1.0 }}
        {{ content.field_link }}
    <div>
  </div>
{% endblock paragraph %}