<div class="product-wrapper container">

  <div class="product_heading">
    <h2>
      {{ product.variation_title.0 }}
    </h2>
    {{ product.field_rating }}
  </div>
  <div class="product-content">
    <div class="product__images">
      <div class="slider-for">
        {{ product.variation_field_image }}
      </div>
      <div class="slider-nav">
        {{ product.variation_field_image }}
      </div>
    </div>
    <div class="product description">
      <div class="description-top">
        {{ product.body }}
        <p class="product-price">
          {{ product.variation_price.0 }}
        </p>
      </div>
      <div class="description-middle">
        {{ product.variations.0 }}
      </div>
        <div class="description-bottom">
            {{ product.field_tabs }}
        </div>
    </div>
  </div>
  <div class="product__similar-products">
    {{ product.field_similar_products }}
  </div>
</div>



